%TMPL:INCLUDE{view}%%{
---------------------------------------------------
	top:toolbarbuttons
		Overridden top button row; PDF button appended at right 
---------------------------------------------------
}%%TMPL:DEF{"top:toolbarbuttons"}%%TMPL:PREV%%TMPL:P{"pdf"}%%TMPL:END%%{
---------------------------------------------------
	pdf
		PDF button
---------------------------------------------------
}%%TMPL:DEF{"pdf"}%<span><a href='%SCRIPTURLPATH{"pdf"}%/%WEB%/%TOPIC%?%REVINFO{"rev=$rev"}%' rel='nofollow'>%TMPL:P{"pdf:text"}%</a></span>%TMPL:END%%{
---------------------------------------------------
	pdf:text
		PDF button label
---------------------------------------------------
}%%TMPL:DEF{"pdf:text"}%%MAKETEXT{"PDF"}%%TMPL:END%%{
---------------------------------------------------
	action_printable
		Overridden print link in topic action links:
		PDF link appended to print link
---------------------------------------------------
}%%TMPL:DEF{"action_printable"}%%TMPL:P{"printable"}%%TMPL:P{"sep"}%%TMPL:P{"pdf"}%%TMPL:P{"sep"}%%TMPL:END%